* {
	outline: 1px solid red;
	
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff") format("woff");
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
	font-weight: 900;
	
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff") format ("woff");
	src: url("../fonts/gilroylight.woff2") format ("woff2");
	font-weight: 300;
	
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/opensans.woff") format ("woff");
	src: url("../fonts/opensans.woff2") format ("woff2");
	font-weight: 500;
	
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/opensanslight.woff") format ("woff");
	src: url("../fonts/opensanslight.woff2") format ("woff2");
	font-weight: 300;
	
}

body {
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.3px;
	color: #000000;
}

.main-header {
	width: 1160px;
	height: 299px;

	margin-left: auto;
	margin-right: auto;

	margin-top: 40px;

	background-color: #FBF0CA;
}

.header-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1044px;

}

.logo {
	display: inline-block;
	position: relative;
	margin-top: -15px;
	margin-bottom: 15px;

	height: 34px;
	width: 163px;
	
}

.logo::after {
	content: "Device";
	position: absolute;

	top: -10px;

	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 48px;
	font-weight: 900;
	line-height: 48px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
}

.user-menu-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 38px;
}

.main-search {
	padding-left: 41px;
	position: relative;
}

.main-search::before {
	content: "";
	position: absolute;
	
	width: 16px;
	height: 16px;
	
	left: 5px;
	top: 7px;
	
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
}

.main-search input {
	background-color: transparent;
	border: none;
	opacity: 0.3;
	
}

.user-nav-wrapper {
	display: flex;
	justify-content: space-between;
	width: 475px;
}

.login-menu {
	width: 287px;
}

.shopping {
	display: flex;
	justify-content: space-between;
	
	width: 199px;
	
}

.login {
	position: relative;
}

.login::before {
	content: "";
	position: absolute;
	
	left: -27px;
	top: 1px;
	
	width: 13px;
	height: 12px;
	
	background-image: url(../img/user.svg);
	background-repeat: no-repeat;
	
}

.compare {
	position: relative;
	
}

.compare::before {
	content: "";
	position: absolute;
	
	left: -20px;
	top: 10px;
	
	width: 10px;
	height: 10px;
	
	background-image: url(../img/compare.svg);
	background-repeat: no-repeat;
}

.basket {
	position: relative;
}

.basket::before {
	content: "";
	position: absolute;
	
	top: 8px;
	right: 73px;
	
	width: 12px;
	height: 12px;
	
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
}


.main-nav-wrapper {
	display: flex;
	justify-content: space-between;
}

.main-legal-wrapper {
	display: flex;
	justify-content: space-between;
	
	width: 502px;
}
.nav-item {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 900px;
	line-height: 24px;
	letter-spacing: 3.5px;
	
	text-transform: uppercase;
}

.legal-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 272px;
}

.dropdown-list {
	
	background-color: #F7E296;
	
	list-style: none;
	padding-left: 0;
	
}

.dropdown-list-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
