 *{
	outline: 1px solid red;

}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 900;

}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;

}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
	font-weight: 500;

}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
	font-weight: 300;
 
}


body {
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: #000000;
}

.header {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 1px;
	width: 1040px;
	height: 300px;

	background-color: #f7e296;
}

.header a:any-link {
	text-decoration: none;
	color: black;

}

.header a:hover {
	opacity: 0.6;
}

.header a:active {
	opacity: 0.3;
}

.logo--header {
	display: inline-block;
	margin-top: -32px;
	margin-bottom: 5px;
}

.main-header__user-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 59px;
}

.user-nav__search-input {
	height: 43px;
	outline: none;
	padding-right: 127px;
	padding-left: 37px;

	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;

	background-color: transparent;
	border: none;
}

.user-nav__search-input::placeholder {
	color: black;
	opacity: 0.3;
}

.user-nav__search-form {
	position: relative;
}

.user-nav__search-form::before {
	content: "";
	position: absolute;

	top: 15px;
	left: 4px;

	width: 16px;
	height: 16px;

	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
}

.user-nav__search-button {
	padding: 14px 19px;
	background-color: transparent;
	border: 2px solid black;
	cursor: pointer;
	display: none;
	
}

.user-nav__search-button:hover {
	background-color: black;
	color: white;
}

.user-nav__search-input:focus + .user-nav__search-button {
	display: inline;
}

.user-nav__search-input:focus {
	border-bottom: 2px solid black;
}

.user-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 31px

}

.user-nav__user-menu {
	display: flex;
	justify-content: space-between;
	width: 500px;
}

.user-nav__user::before {
	display: inline-block;
	content: "";

	padding-right: 13px;

	width: 13px;
	height: 12px;

	background-image: url("../img/user.svg");
	background-repeat: no-repeat;

}
.user-nav__compare {
	margin-left: 176px;
}

.user-nav__compare::before {
	display: inline-block;
	content: "";
	padding-right: 10px; 
	width: 10px;
	height: 10px;

	background-image: url("../img/compare.svg");
	background-repeat: no-repeat;
}

.user-nav__basket::before {
	display: inline-block;
	content: "";

	padding-left: 10px;

	width: 12px;
	height: 12px;

	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
}

.user-purchase__wrapper {
	width: 213px;
	display: flex;
	justify-content: space-between;
}

.menu-nav__list-wrapper {
	padding-top: 10px;
	position: relative;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0px;

}

.menu-list__basket::before {
	display: inline-block;
	content: "";

	padding-right: 10px;

	width: 12px;
	height: 12px;

	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
}

.nav__item {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 900;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.dropdown-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 550px;

	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: #000000;
	text-transform: capitalize;

	position: absolute;
	list-style: none;

	margin-top: -2px;
	padding-top: 36px;
	padding-left: 0px;
	padding-right: 550px;
	padding-bottom: 40px;
	z-index: 1;

	background-color: #f7e296;
	display: none;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0px;
}

.nav__item--dropdown::after {
	display: inline-block;
	content: "";
	width: 16px;
	height: 16px;

	cursor: pointer;
	background-image: url("../img/plus.svg");
	background-repeat: no-repeat;
}

.nav__item--delivery {
	margin-left: 286px;
}

.nav__item--warranty {
	margin-right: 74px;

}

.nav__item--contacts {
	margin-right: -4px;
}


.nav__item--dropdown a:hover + .dropdown-list {
	display: flex;
}

.dropdown-list:hover {
	display: flex;
}

.sliders {
	margin-right: auto;
	margin-left: auto;
	width: 1160px;
}

.sliders__slider {
	display: flex;
	justify-content: space-around;

}

.sliders__title {
	font-family:"Gilroy", "Arial BLack", sans-serif;
	font-size: 47px;
	font-weight: 900;
	letter-spacing: 0.017em;

	line-height: 56px;
}

.sliders__info {
	width: 495px;
}















.menu-nav__legal-list {
	display: flex;
	justify-content: space-between;
	width: 500px;
}

.menu-nav__legal-wrapper {
	display: flex;
	justify-content: space-between;
	width: 273px;
}

.dropdown-list__item {
	margin-bottom: 6px;
}

.dropdown-list__item--long {
	display: inline-block;
	padding-right: 225px;
	margin-right: -9px; 
}

.menu-nav__item--dropdown {
	position: relative;
}

.menu-nav__item--dropdown::after {
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;

	left: 230px;
	top: 3px;

	cursor: pointer;
	background-image: url("../img/plus.svg");
	background-repeat: no-repeat;
}

.menu-nav__item--dropdown:hover + .menu-nav__dropdown-list {
	display: flex;

}

.menu-nav__dropdown-list:hover {
	display: flex;

}

.main-sliders__wrapper {
	position: relative;
}

.main-slider__wrapper {
	position: relative;
	margin-top: -75px;
	margin-left: auto;
	margin-bottom: 98px;
	margin-right: auto;
	width: 1160px;

	display: flex;
	justify-content: space-around;

}

.main-slider__wrapper::after {
	position: absolute;
	content: "";

	width: 100px;
	height: 7px;

	right: 460px;

	background-color: white;
	background-repeat: no-repeat;
}


.main-slider__selfi::before {
	position: absolute;
	content: "01";

	top: 24px;
	right: 48px;

	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 179.2px;
	font-weight: 900;

	color: white;

}

.main-slider__selfi {
	position: relative;
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}

.main-slider__pic {
	margin-top: -37px;
	margin-left: 23px;
	width: 374px;

}

.main-slider__info {
	position: relative;
	width: 495px;

}

.main-slider__headline {
	width: 508px;
	margin-top: 42px;
	margin-bottom: 19px;

	font-family:"Gilroy", "Arial BLack", sans-serif;
	font-size: 47px;
	font-weight: 900;
	letter-spacing: 0.017em;

	line-height: 56px;
}

.main-slider__text {
	margin-bottom: 47px;
	letter-spacing: 0.013em;
}

.main-slider__table-wrapper {
	margin-top: 64px;
	width: 566px;
}

.main-slider__table-wrapper td {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 36px;
	font-weight: 300;

}

.main-slider__table-wrapper th {
	padding-top: 7px;

	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 300;
	text-align: start;

}

.main-catalog {
	margin-left: auto;
	margin-right: auto;
	width: 1160px;

	margin-bottom: 159px;


	display: flex;
	justify-content: space-between;
	align-items: start;
}

.main-catalog a {
	margin-bottom: 15px;

	text-decoration: none;
	color: black;
}

.main-catalog__list-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.main-catalog__item-pic:hover {
	background-color: #F0C52E;
}

.main-catalog__item-pic:active {
	opacity: 0.3;
	background-color: rgba(240,197,46,1);

}

.main-catalog__item-pic {
	width: 160px;
	height: 160px;

	background-color: #f8e297;
}

.vr, .selfi, .camera, .fit, .watch, .copter {
	position: relative;
}

.vr::before {
	position: absolute;
	content: "";

	width: 97px;
	height: 55px;

	top: 51px;
	right: 32px;

	background-image: url("../img/vr-pic.svg");
	background-repeat: no-repeat;
}

.selfi::before {
	position: absolute;
	content: "";

	width: 86px;
	height: 117px;

	right: 36px;
	top: 40px;

	background-image: url("../img/selfi-pic.svg");
	background-repeat: no-repeat;
}

.camera::before {
	position: absolute;
	content: "";

	width: 71px;
	height: 87px;

	top: 37px;
	right: 40px;

	background-image: url("../img/camera-pic.svg");
	background-repeat: no-repeat;
}

.fit::before {
	position: absolute;
	content: "";

	height: 65px;
	width: 107px;

	top: 49px;
	right: 25px;

	background-image: url("../img/fit-pic.svg");
	background-repeat: no-repeat;
}

.watch::before {
	position: absolute;
	content: "";

	width: 56px;
	height: 98px;

	top: 31px;
	right: 49px;

	background-image: url("../img/watch-pic.svg");
	background-repeat: no-repeat;
}

.copter::before {
	position: absolute;

	content: "";

	width: 132px;
	height: 69px;

	top: 48px;
	right: 15px;

	background-image: url("../img/copter-pic.svg");
	background-repeat: no-repeat;
}


.main-catalog__item-headline {
	margin-top: 192px;
	margin-bottom: 15px;

	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 900;
	line-height: 25px;
	letter-spacing: 0.01em;
}

.main-slider__watch {
	display: none;
}

.main-slider__copter {
	display: none;
}

.main-slider__controls {
	position: absolute;
	display: flex;
	justify-content: space-between;

	right: 596px;
	top: 290px;

	width: 78px;
}

.main-slider__input {
	display: none;

}

.main-slider__label {
	width: 11px;
	height: 11px;

	border: 1px solid black;
	border-radius: 60%;

	cursor: pointer;

}

.main-legal-slider {
	margin-left: auto;
	margin-right: auto;	
}

.legal-slider {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;

	width: 1160px;
	
}

.legal-slider__menu {
	width: 580px;
}

.legal-slider__controls {
	position: absolute;
}

.legal-slider__content {
	width: 1100px;
}

.legal-slider__text {

}


.legal-slider__headline {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size:  47px;
	font-weight: 900;

}