 *{
	outline: 1px solid red;

}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff") format("woff");
	src: url("../fonts/gilroyextrabold.woff2") format("woff2");
	font-weight: 900;

}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff") format ("woff");
	src: url("../fonts/gilroylight.woff2") format ("woff2");
	font-weight: 300;

}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/opensans.woff") format ("woff");
	src: url("../fonts/opensans.woff2") format ("woff2");
	font-weight: 500;

}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/opensanslight.woff") format ("woff");
	src: url("../fonts/opensanslight.woff2") format ("woff2");
	font-weight: 300;

}

body {
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.3px;
	color: #000000;
}

.main-header {
	
	height: 299px;

	margin-left: auto;
	margin-right: auto;

	margin-top: 40px;

	background-color: #F7E296;
}

.main-header a:any-link {
  color: #000000;
  text-decoration: none;
}

.main-header a:hover {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.inner-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1044px;

}

.logo {
	display: inline-block;
	position: relative;
	margin-top: -15px;
	margin-bottom: 5px;

	height: 34px;
	width: 163px;

}

.logo::after {
	content: "Device";
	position: absolute;

	top: -10px;

	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 48px;
	font-weight: 900;
	line-height: 48px;
	letter-spacing: 1px;
	text-transform: uppercase;

}

.user-menu-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 27px;
}

.main-search {
	padding-left: 41px;
	position: relative;
	
	
  color: rgba(0,0,0,0.3)
}

.main-search::before {
	content: "";
	position: absolute;

	width: 16px;
	height: 16px;

	left: 4px;
	top: 17px;

	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
}

.main-search input {
	
	padding-right: 132px;
	padding-top: 16px;
	padding-bottom: 14px;
	
	border:none;
	background-color: transparent;
	opacity: 0.3;

}

.main-search input:hover {
  opacity: 0.6;
}

.main-search input:focus {
  opacity: 1;
}

.search-btn {
	display: none;
  margin-bottom: -2px;
  

  width: 85px;
  height: 49px;

  cursor: pointer;
  border: 2px solid black;
  background-color: transparent;
}

.search-btn:hover {
  background-color: #000000;
  color: rgba(255,255,255,1);

}

.search-btn:active {
  background-color: #000000;
  color: rgba(255,255,255,0.3);
}

.user-nav-wrapper {
	display: flex;
	justify-content: space-between;
	width: 475px;

  align-items: center;

}

.login-menu {
	width: 287px;
}

.shopping {
	display: flex;
	justify-content: space-between;

	width: 199px;

}

.login {
	position: relative;
}

.login::before {
	content: "";
	position: absolute;

	left: -27px;
	top: 2px;

	width: 13px;
	height: 12px;

	background-image: url(../img/user.svg);
	background-repeat: no-repeat;

}

.compare {
	position: relative;

}

.compare::before {
	content: "";
	position: absolute;

	left: -20px;
	top: 10px;

	width: 10px;
	height: 10px;

	background-image: url(../img/compare.svg);
	background-repeat: no-repeat;
}

.basket {
	position: relative;
}

.basket::before {
	content: "";
	position: absolute;

	top: 8px;
	right: 73px;

	width: 12px;
	height: 12px;

	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
}

.main-nav-wrapper {
	display: flex;
	justify-content: space-between;
  margin-bottom: 21px;
}

.main-legal-wrapper {
	display: flex;
	justify-content: space-between;

	width: 502px;
}
.nav-item {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 900px;
	line-height: 24px;
	letter-spacing: 3.5px;

	text-transform: uppercase;
}

.dropdown {
  position: relative;

}

.dropdown::after {
  position: absolute;
  content: '';

  top: 3px;
  left: 232px;

  width: 16px;
  height: 16px;

  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
}


.legal-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 272px;
}

.dropdown-list {
  margin-top: 29px;
  padding-bottom: 22px;
	padding-left: 0;

  font-family: "OpenSans", "Arial" sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;

  list-style: none;
  background-color: #F7E296;

  display: none;
}

.dropdown-list-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

  margin-left: 2px;

  width: 551px;

}

.dropdown-item {
  margin-bottom: 11px;
  margin-top: -11px;

}

.long-item-right {
  padding-left: 13px;
  margin-right: -13px;
  padding-right: 236px;
}

.long-item-left {
  padding-left: 14px;
}

.main-search input:focus + .search-btn {
	display: inline;
}

.main-search input:focus + .main-search input {
	border-bottom: 2px solid black;
}

.main-nav a.dropdown:hover + .main-nav ul {
  display: block;
}

.dropdown-shower {
  display: block;
}

.outer-wrapper {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.slider-selfi-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: -71px
}
.slider-photo {
	position: relative;
	width: 384px;
	height: 486px;
}

.slider-info {
	position: relative;
	width: 503px
}

.slider-photo::before {
	content: "";
	position: absolute;

	width: 384px;
	height: 486px;
	
	background-image: url(../img/slider-1.png.svg);
	background-repeat: no-repeat;
}

.slider-info h2 {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 47px;
	font-weight: 900;
	line-height: 56px;
}

.slider-info td {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
}

.slider-info th {
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
}

